parameters:
	level: 4
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with mixed will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Bucketer.php

		-
			message: '#^Offset ''or'' on \*NEVER\* in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Bucketer.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/EvaluateSticky.php

		-
			message: '#^Call to function method_exists\(\) with Featurevisor\\Featurevisor and ''getVariation'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/FeaturevisorTest.php
